<html>
    <head>
        <!-- Link to ListePersonnel.css -->
        <link href="{{ url_for('static', filename='css/addDepart.css')}}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>

    <body>
            <div class="topnav">
                <a href="{{ url_for('index')}}"><img class="logo" src="{{ url_for('static', filename='img/Logo FTHM (2).png')}}"></a>
                <p class="title"> Paramétrages </p>
            </div>
            
            <!--
            <div class="linknav">
                <ul>
                    <li>
                        <a class="button" href="parametrageMail.html"> Mail </a>
                    </li>
                    <li>
                        <a class="button" href="parametrageLdap.html"> LDAP </a>
                    </li>
                    <li>
                        <a class="button" href="parametrageGroup.html"> Groupes </a>
                    </li>
                    <li>
                        <a class="button" href="parametrageDepart.html"> Département </a>
                    </li>
                </ul>
            </div> -->

            <div class="board1">
                <p>Liste des départements</p>

                <ul>
                    <li>ADMINISTRATION</li>
                    <li>AMOA</li>
                    <li>ASSOCIE</li>
                    <li>AUDIT</li>
                    <li>BPO COMPTA</li>
                </ul>                          
            </div>
            <div class="buttonSection">
                <button class="buttonCrud"> Ajouter </button>
                <button class="buttonCrud"> Modifier </button>
                <button class="buttonCrud"> Supprimer </button>
            </div>
    </body>
</html>
