 {% extends "basea.html" %}
 {% block title %} ADM {% endblock %}

 {% block head %}
 {% endblock %}
 {% block content %}
                                <table>
                                    <!-- ligne associé -->
                                        <tr class="associe">
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/A1.png')}}">                               
                                                <p class="NomPersonnel"> Thierry RAJAONA </p>                                                                      
                                                <p class="Fonction"> Associé-Gérant </p>                                                                                                             
                                                <a href = "mailto:trajaona@fthmconsulting.com">
                                                   <i class="fa fa-envelope" title="trajaona@fthmconsulting.com"></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                                            </td>
                                        </tr>
                                </table>
                                                               
                                <table>
                                <!-- ligne junior  -->
                                        <tr>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Larissa.jpg')}}">                                
                                                <p class="NomPersonnel"> Larissa RAMANANTSOALAZA</p>                                                                      
                                                <p class="Fonction"> Assistante de Direction </p>                                                                                                             
                                                <a href = "mailto:trazafindrakoto@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 391 50 / 034 77 774 86"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Malala.png')}}">                                
                                                <p class="NomPersonnel"> Malala RAVELOSON </p>                                                                      
                                                <p class="Fonction"> Standardiste </p>                                                                                                             
                                                <a href = "mailto:uandriniaina@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 390 88"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Solofo.png')}}">                                
                                                <p class="NomPersonnel"> Solofo RANDRIANTSALAMA </p>                                                                      
                                                <p class="Fonction"> Agent Administratif </p>                                                                                                             
                                                <a href = "mailto:zrakotomalala@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 034 05 395 55"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Kline.png')}}">                                
                                                <p class="NomPersonnel"> Jacqueline RAVAOMALALA </p>                                                                      
                                                <p class="Fonction"> Agent Administratif </p>                                                                                                             
                                                <a href = "mailto:nrakotomalala@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 034 05 395 55"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Fidy.png')}}">                                
                                                <p class="NomPersonnel"> Fidy RAJAONARISON </p>                                                                      
                                                <p class="Fonction"> Chauffeur </p>                                                                                                             
                                                <a href = "mailto:nrakotomalala@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 034 05 395 55"></i>
                                            </td>


                                        </tr>
                                </table>
{% endblock %}                                
