<!DOCTYPE html>
<html lang="en">
<head>
        <link href="{{ url_for('static', filename='css/eachDepart.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}{% endblock %} </title>
</head>
<body>
        <!-- Section exploration (page entière) -->
            <div class="container">  
                
                <!-- Menu affichant les départements -->
                    <div class="col1">
                        <ul>
                            <li> 
                                <a class="navlink" href="{{url_for('ADM')}}">
                                    ADMINISTRATION 
                                </a> 
                            </li>
                            <li>
                                <a class="navlink" href="{{url_for('AMOA')}}">
                                     AMOA 
                                </a>
                            </li>
                            <li>
                                <a class="navlink" href="{{url_for('index')}}">
                                     ASSOCIE 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('AUDIT')}}">
                                    AUDIT 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href=""{{url_for('BPOC')}}>
                                    BPO COMPTA 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href=""{{url_for('BPORH')}}>
                                    BPO RH 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('CCIAL')}}">
                                    COMMERCIAL 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('COMM')}}">
                                    COMMUNICATION
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('DAF')}}">
                                    DAF 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('FIN')}}">
                                    FINANCE
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('INFO')}}">
                                    INFO
                                </a>
                            </li>
                            <li>
                                <a class="navlink" href="{{url_for('ORGA')}}">
                                     ORGA
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('QUALITE')}}">
                                    QUALITE 
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('RHC')}}">
                                    RHC
                                </a>
                            </li>
                            <li> 
                                <a class="navlink" href="{{url_for('RHI')}}">
                                    RHI 
                                </a>
                            </li>
                        </ul>
                    </div>

                <!-- Section d'exploration -->
                    <div class="col2">
                            <!-- top nav -->
                            <a href="{{ url_for('index')}}">
                                <img class="logo" src="{{url_for('static', filename='img/Logo FTHM (2).png')}}">
                            </a>
                                
                            <div class="search-container">
                                <form action="/action_page.php">
                                    <input type="text" placeholder="Rechercher.." name="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                                <img class="logout" src="{{url_for('static', filename='img/logout.png')}}">
                            </div>

                            <!-- section personnel -->
                            <div class="caroussel">
                                {% block content %}{% endblock %}
                            </div>
                    </div>
            </div>
    
    
    
    <div id="footer">
        {% block footer %}
        
        {% endblock %}
    </div>
</body>
</html>
