 {% extends "base.html" %}
 {% block title %} DAF {% endblock %}

 {% block head %}
 {% endblock %}
 {% block content %}
                                <table>
                                    <!-- ligne associé -->
                                        <tr class="associe">
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/A1.png')}}">                               
                                                <p class="NomPersonnel"> Thierry RAJAONA </p>                                                                      
                                                <p class="Fonction"> Associé-Gérant </p>                                                                                                             
                                                <a href = "mailto:trajaona@fthmconsulting.com">
                                                   <i class="fa fa-envelope" title="trajaona@fthmconsulting.com"></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                                            </td>
                                        </tr>
                                </table>
                                <table>   
                                    <!--  ligne senior -->
                                        <tr class="senior">
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Fenitra.png')}}">                                
                                                <p class="NomPersonnel"> Harifenitra RAKOTOARISON </p>                                                                      
                                                <p class="Fonction"> Assistant-Manager </p>                                                                                                             
                                                <a href = "mailto:hrakotoarison@qualex.mg">
                                                <i class="fa fa-envelope" title="hrakotoarison@qualex.mg"></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 793 67 / 034 14 793 67"></i>
                                            </td>
                                        </tr>
                                </table>
                                
                                <table>
                                <!-- ligne junior  -->
                                        <tr>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Tantely.png')}}">                                
                                                <p class="NomPersonnel"> Tantely RAZAFINDRAKOTO </p>                                                                      
                                                <p class="Fonction"> Responsable trésorerie </p>                                                                                                             
                                                <a href = "mailto:trazafindrakoto@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 391 50 / 034 77 774 86"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Ulrich.jpg')}}">                                
                                                <p class="NomPersonnel"> Ulrich ANDRINIAINA </p>                                                                      
                                                <p class="Fonction"> Trésorier </p>                                                                                                             
                                                <a href = "mailto:uandriniaina@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 032 11 390 88"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Zo.jpg')}}">                                
                                                <p class="NomPersonnel"> Zo RAKOTOMALALA </p>                                                                      
                                                <p class="Fonction"> Chargée de facturation </p>                                                                                                             
                                                <a href = "mailto:zrakotomalala@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 034 05 395 55"></i>
                                            </td>
                                            <td> 
                                                <img class="photo" src="{{ url_for('static', filename='img/Nambinina.jpg')}}">                                
                                                <p class="NomPersonnel"> Nambinina RAKOTOMALALA </p>                                                                      
                                                <p class="Fonction"> Chargé de facturation </p>                                                                                                             
                                                <a href = "mailto:nrakotomalala@fthmconsulting.com">
                                                    <i class="fa fa-envelope" title=""></i>
                                                </a>
                                                <i class="fa fa-phone" title="Mobile : 034 05 395 55"></i>
                                            </td>

                                        </tr>
                                </table>
{% endblock %}                                
