{% extends "base.html" %}

{% block title %} INFO {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
     <table>
        <!-- ligne associé-->
            <tr class="associe">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>

     <table>
        <!-- ligne manager-->
            <tr class="manager">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>

     <table>
        <!-- ligne assistant manager-->
            <tr class="assistant-manager">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>

     <table>
        <!-- ligne senior -->
            <tr class="senior">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>

     <table>
        <!-- ligne junior-->
            <tr class="junior">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>

     <table>
        <!-- ligne stagiaire-->
            <tr class="stagiaire">
                <td> 
                    <img class="photo" src="img/A2.png">                                
                    <p class="NomPersonnel"> Xavier MICHEL </p>                                                                      
                    <p class="Fonction"> Managing Director </p>                                                                                                             
                    <a href = "mailto:xmichel@fthmconsulting.com">
                        <i class="fa fa-envelope" title="xmichel@fthmconsulting.com"></i>
                    </a>
                        <i class="fa fa-phone" title="Mobile : 032 11 631 93 / 034 05 631 93 / 00 33 6 75 55 29 45 / 00 33 1 43 18 38 53"></i>
                </td>
            </tr>
     </table>
{% endblock %}
