<html>
    <head>
        <!-- Link to ListePersonnel.css -->
        <link href="{{ url_for('static', filename='css/listStaff.css')}}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>

    <body>
        <div class="topnav">
            <a href="{{ url_for('index')}}"><img class="logo" src="{{ url_for('static', filename='img/Logo FTHM (2).png')}}"></a>
            <p class="title"> Fiche d'habilitation </p>
        </div>

        <div class="linknav">
            <ul> 
                <li>
                    <a class="button" href="{{ url_for('listStaff')}}"> Habilités </a>
                </li>
                <li>
                    <a class="button" href="{{ url_for('toDisable')}}"> A désactiver </a>
                </li>
                <li>
                    <a class="button" href="{{ url_for('disabled')}}"> Déshabilités </a>
                </li>
                <li>
                    <a class="button" href="{{ url_for('addSheets')}}"> Ajouter une fiche </a>
                </li>
                <li>
                    <a class="button" href="{{ url_for('histoInfo')}}"> Historique-Info </a>
                </li>
            </ul>
        </div>
        
        <table class="tablePersonnel">
               
               <tr>
                    <th> Liste des demandes d'habilitation </th>
                    <th> Date </th>
                    <th> Historique des modifications </th> 
                    <th></th> 
                    <th> Commentaire </th> 
                </tr>

                <tr>
                    <td><a style="text-decoration:none; color:black;" href="{{url_for('habilitation555')}}"> E125 Gestion des habilitations 555 DAF </a></td>
                    <td> 16/09/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°6091 </td> 
                </tr>

                <tr>
                    <td> E125 Gestion des habilitations 485 BPOC </td>
                    <td> 09/09/2021 </td>
                    <td> Déshabilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°6050 </td> 
                </tr>
                <tr>
                    <td> E125 Gestion des habilitations STG178 BPOC</td>
                    <td> 07/09/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°6049 </td> 
                </tr>
                <tr>                  
                    <td> E125 Gestion des habilitations 564 BPORH</td>
                    <td> 25/08/2021 </td>
                    <td> Habilitation adresse groupée </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°6043 </td> 
                </tr>
                <tr>                    
                    <td> E125 Gestion des habilitations STG162 BPOC </td>
                    <td> 20/08/2021 </td>
                    <td> Routage messagerie </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5987 </td> 
                </tr>
                <tr>                    
                    <td> E125 Gestion des habilitations 463 RHC </td>
                    <td> 20/08/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5985 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations 565 CCIAL </td>
                    <td> 15/08/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5978 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations STG173 AUDIT </td>
                    <td> 11/08/2021 </td>
                    <td> Habilitation adresse groupée</td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5973 </td> 
                </tr>
                <tr>                    
                    <td> E125 Gestion des habilitations 472 RHC </td>
                    <td> 11/08/2021 </td>
                    <td> Habilitation adresse groupée</td>
                    <td> <a style="text-decoration:none;" href="{{url_for('habilitation472')}}"><img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></a></td> 
                    <td> GLPI n°5973 </td> 
                </tr>

                 <tr>                    
                    <td> E125 Gestion des habilitations 566 ORGA</td>
                    <td> 10/08/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5971 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations 464 AUDIT </td>
                    <td> 10/08/2021 </td>
                    <td> Habilitation adresse groupée </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5969 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations STG174 RHC </td>
                    <td> 09/08/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5968 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations 540 AMOA </td>
                    <td> 09/08/2021 </td>
                    <td> Retrait d'adresse groupée </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5966 </td> 
                </tr>
                 <tr>                    
                    <td> E125 Gestion des habilitations STG170 </td>
                    <td> 04/08/2021 </td>
                    <td> Habilitation </td>
                    <td> <img class="icon" src="{{ url_for('static', filename='img/edit-alt-512.png')}}"></td> 
                    <td> GLPI n°5960 </td> 
                </tr>
        </table>
    </body>
</html>
